@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
    --gray-first:#696969;
    --gray-second:#ececec;
    --gray-third:#fafafa;
    --black-only:#000000;
}

.myContainer{
    padding: 0 300px;
}
.myWrapper{
    padding: 0 30px;
}
.myrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
h5{
    font-size: 18px;
    font-weight: 700;
}
p{
    font-size: 16px;
}
main{
    >.mynav{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        >.menu{
            width: 70%;
            height: 100%;
            >ul{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content:flex-start;
                align-content: center;
                gap: 40px;
                >li{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >a{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s;
                        font-weight: 700;
                        font-size: 17px;
                        color: var(--gray-first);
                        position: relative;
                        &::after{
                            content: '';
                            background-color: var(--black-only);
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transition: 0.3s;
                            transform: scaleX(0);
                        }
                        &:hover{
                            color: var(--black-only);
                            &::after{
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
        >figure{
            height: 100%;

            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                >img{
                    width: 60%;
                }
            }
        
        }
        >.icon{
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            color: var(--gray-first);
            font-size: 18px;
            >a{
                >i{
                    font-size: 18px;
                    transition: 0.3s;
                    &:hover{
                        color: var(--black-only);
                    }
                }    
            }


        }
    }
    >.info{
        background-color: var(--gray-second);
        width: 100%;
        height: 80px;
        gap: 50px;
        >span{
            width: 160px;
            height: 70px;
            display: flex;
            align-items: center;
            >i{
                font-size: 25px;
            }   
            >a{
                height: auto;
                display: flex;
                justify-items: center;
                align-items: center;
                font-weight: 500;
                font-size: 17px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--black-only);
                    transform: scaleX(0);
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                    }
                }
        }
    }
    }
    >.Latest{
        justify-content: space-between;
        padding-top: 60px;
        h2{
            width: 100%;
            display: flex;
            justify-content: center;
            justify-items: center;
            margin-bottom: 40px;
        }
        >div{
            &:last-of-type{
                margin-top: 50px;
                width: 100%;
                >img{
                    width: 100%;
                }
            }
        }
        >.innerLatest{
            margin-bottom: 30px;
            width: 32%;
            height: 400px;
            display: flex;
            justify-content: center;
            position: relative;
            >figure{
                height: 70%;
                width: 100%;
                overflow: hidden;
                >img{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                }
            }
            >div{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 30%;
                transition: 0.5s;
                >h5{
                    padding-top: 10px;
                    width: 100%;
                    text-align: center;
                }
                >p{
                    width: 100%;
                    text-align: center;
                }
      
            }
            &:hover{
                >div{
                    background-color: var(--gray-second);
                }

                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    >.business{
        margin-top: 70px;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--gray-third);
        h2{
            width: 100%;
            display: flex;
            justify-content: center;
            justify-items: center;
            margin-bottom: 40px;
        }
        >.myGrid{
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 30px;
            >.innerBusiness{
                width: 100%;
                height: 400px;
                &:first-of-type{
                    grid-row: 1 / span 2;
                    height:800px;
                    >figure{
                        overflow:hidden;
                        height: 89%;
                        width: 100%;
                        >img{
                            height: 900px;
                            width: 100%;
                            transition: 0.5s;
                        }
                    }
                    >div{
                        transition: 0.5s;
                        height: 15%;
                        width: 100%;
                    }
                }
                figure{
                    overflow:hidden;
                    width: 100%;
                    height: 70%;
                    >img{
                        height: 100%;
                        width: 100%;
                        transition: 0.5s;
                        object-fit: cover;
                    }
                }
                >div{
                    width: 100%;
                    height: 30%;
                    padding-left: 10px;
                    transition: 0.5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    >h5{
                        width: 100%;
                        text-align: left;
                        margin: 0;
                    }
                    >p{
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        text-align: left;
                    }    
                }
                &:hover{
                    >div{
                        background-color: var(--gray-second);
                    }
    
                    img{
                        transform: scale(1.1);
                    }
                }
    
            }    
        }
        >.future{
            justify-content: space-evenly;
        >h2{
            margin-top: 100px;
        }
        >.innerFuture{
            height: 250px;
            width: 170px;
            align-content: center;
            >img{
                height: 40%;
                transition: 0.3s;

            }
            >a{
                margin-top: 20px;
                width: 100%;
                height: 50px;
                text-align: center;
                font-size: 18px;
                font-weight: 700;

            }
            &:hover{
                >img{
                    transform: scale(1.1);
                }
            }
        }
    }
    }
    >.customer{
        padding-top: 70px;
        background-color: white;
        >.info{
            padding-bottom: 70px;
            gap: 200px;
            >.innerInfo{

                >i{

                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-size: 30px;
                    font-weight: 300;
                }
                >a{
                    text-align: center;
                    border-bottom: 1px solid transparent;
                }
                &:hover{
                    >a{
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
        >.banner{
            width: 100%;;
            justify-content: space-between;
            margin-bottom: 50px;
            >.innerBanner{
                width: 49%;
                position: relative;
                >figure{
                    width: 100%;
                    overflow: hidden;
                    >img{
                        width: 100%;
                        transition: 0.5s;
                    }        
                }
                >span{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.400);
                    height: 70px;
                    padding-left: 30px;
                    padding-bottom: 10px;
                    >h5{
                        padding-top: 10px;
                        width: 100%;
                        margin: 0;
                        height: 35px;
                    }
                    p{
                        height: 35px;
                        width: 100%;
                        margin: 0;
                    }
                }
                &:hover{
                    >figure{
                        >img{
                            transform: scale(1.1);
                        }    
                    }
                    >span{
                        background-color: rgba(99, 99, 99, 0.4);
                        color: white;
                    }
                }
            }
        }
    }
    >footer{
        color: var(--gray-first);
        >.nav{
            border-top: 1px solid rgba(128, 128, 128, 0.2);
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 60px;
            padding-bottom: 30px;

            >ul{
                width: 20%;
                display: flex;
                flex-wrap: wrap;
                >li{
                    width: 100%;
                    &:first-of-type{
                        font-size: 17px;
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                    font-size: 17px;
                    margin-bottom: 5px;
                    >a{
                        &:hover{
                            border-bottom: 1px solid var(--gray-first);
                        }
                    }
                }
            }
        }
        >.footer{
            font-size: 13px;
            height: 70px;
            justify-content: space-between;
            flex-wrap: nowrap;
            border-top: 1px solid rgba(128, 128, 128, 0.2);
            >span{
                width: 500px;
                height: 100%;
                justify-content: space-between;
                align-items: center;

                &:nth-of-type(2){
                    >a{
                        border-bottom: 1px solid transparent;
                        &:hover{
                            border-bottom: 1px solid var(--gray-first);
                        }
                    }
                    gap: 10px;

                }
                &:nth-of-type(1){
                    flex-wrap: nowrap;
                    align-items: center;
                    >figure{
                        height: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    >p{
                        margin: 0;
                        height: 100%;
                        font-size: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    >.contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: var(--gray-first);
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 250px;
        height: 80px;
        background-color: var(--gray-second);
        box-shadow: 0px 0px 5px var(--gray-first);
        margin-bottom: 30px;
        >h5{
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        >a{
            border-bottom: 1px solid transparent;
            margin: 5px;
            font-size: 17px;
            &:hover{
                border-bottom: 1px solid var(--gray-first);
            }
        }
    }
}